.buttons{
    position: relative;
    display: inline-block;
    margin-bottom: 2em;
}

.button-wrapper{
    text-align: center;
    font-family: $font-alt;

    +.button-wrapper{
        display: none;
    }
}

.active {
    position: absolute;
    top: $btn-gap;
    left: $btn-gap;

    button{
        color: $red;
        border: $btn-small-border solid $red;
        width: $btn-small;
        height: $btn-small;
    }

    +.button-wrapper{
        display: inline-block;

        button{
            color: $text-color;
            border-color: $text-color;
        }
    }
}

button{
    outline: 0;
    padding: 0;
    height: $btn-large;
    width: $btn-large;
    border: $btn-large-border solid $green;
    border-radius: 50%;
    background-color: $white;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    color: $green;
    font-size: 1.25em;

    + span{
        display: none;
        position: absolute;
        bottom: -2em;
        right: 0; left: 0;
        white-space: nowrap;

        color: rgba($text-color, .8);
        font-size: 0.875em;

        .active &{
            bottom: auto; top: -1.5em;
        }
    }

    &:hover{
        @include respond(tablet){
            + span{
                display: block;
            }
        }
    }
}
