body{
    margin: 0;
    padding: 0 1em;
    font-family: $font-base;
    font-size: 4vmin;

    @include respond(tablet){
        font-size: 3vmin;
    }
}

.main-wrapper{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 2rem;
}

h1{
    margin-bottom: 4em;
    font-size: 1em;
    text-align: right;
    font-weight: 200;
}

.content-output{
    text-align: center;
}

time{
    font-family: $font-alt;
}

.time-total{
    margin-right: 1rem;
    vertical-align: 28%;
    margin-right: 1em;
    border: 1px solid rgba($text-color, 0.75);
    background-color: rgba(200, 200, 200, 0.1);
    padding: 0.375em 0.5em;

    margin: 0 auto;
    max-width: 4em;
}

.time-now{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.25em;
}

.log{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    background: rgba(213, 211, 211, 0.25);
    border-top: 1px solid rgba(213, 211, 211, 0.45);
    max-width: 16rem;
    text-align: center;
    color: rgba($text-color, .75);

    li{
        margin-bottom: 0.5rem;

        &:first-child{
            padding-top: 1rem;
        }

        &:last-child{
            padding-bottom: 1rem;
        }
    }
}

